li {
  list-style-type: none;
}
svg {
  pointer-events: none;
}
.todo {
  user-select: none;
}
.todos {
  max-width: 920px;
  margin-top: 1rem;
}
.form-check-input {
  position: relative;
  top: 1px;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  margin: 0 2px;
  background: none;
  border: none;
}
.buttons button:hover i {
  cursor: pointer;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.is-focused {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  outline: none;
}
.hidden {
  display: none;
}
.top-border {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
