li {
  list-style-type: none;
}
svg {
  pointer-events: none;
}
.todos {
  max-width: 920px;
}
.form-check-input {
  position: relative;
  top: 1px;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  margin: 0 2px;
  background: none;
  border: none;
}
.buttons button:hover i {
  cursor: pointer;
  fill: red;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.is-focused {
  background: rgba(13, 202, 240, 0.2);
}
